@media only screen and (max-width: 768px) {
    .mobile-placeholder {
      animation: slideUp 0.5s;
    }
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }